@model Assignment2.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReserverId" class="control-label"></label>
                <input asp-for="ReserverId" class="form-control" />
                <span asp-validation-for="ReserverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCodeNumber" class="control-label"></label>
                <input asp-for="BookCodeNumber" class="form-control" />
                <span asp-validation-for="BookCodeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationDate" class="control-label"></label>
                <input asp-for="ReservationDate" class="form-control" />
                <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryDate" class="control-label"></label>
                <input asp-for="EstimatedDeliveryDate" class="form-control" />
                <span asp-validation-for="EstimatedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fees" class="control-label"></label>
                <input asp-for="Fees" class="form-control" />
                <span asp-validation-for="Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminComment" class="control-label"></label>
                <input asp-for="AdminComment" class="form-control" />
                <span asp-validation-for="AdminComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
