@model ApplicationUser
@{
    ViewData["Title"] = "Give Member Role";
}

<h2>Are you sure you want to give this user member role?</h2>
<br>

<form method="post" asp-action="GiveMemberRoleConfirmed">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Yes</button>
    <a href="#" class="btn btn-secondary">No</a>
</form>
