@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore;

<RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12" style="position: relative;">
    <RadzenImage Path="lib/images/pexels-efrem-efre-14915734.jpg" style="width:100%; filter: brightness(50%);"
        AlternateText="url image" />
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <RadzenText TextStyle="TextStyle.DisplayH1"
            style="font-weight: medium; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
            Welcome to the Zenith Library
        </RadzenText>
        <span style="color: white; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);">By: Derek D'Souza - A01266791</span>
    </div>
</RadzenStack>
