@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>Email (E-transfer any fees here)</h2>
<p>contact@zenith.org</p>

<h2>Phone</h2>
<p>+1 (123) 456-7890</p>

<h2>Address</h2>
<address>
    123 Main Street<br>
    Vancouver, BC<br>
    Canada
</address>
